@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
/* shared styles  */
.bg-light{
background-color: rgba(255, 144, 14, 0.10);
}
.display-flex {
    display: flex;
}
.nav-links{
   text-decoration: none;
}
.text-gray{
    color:#424242;
}
.primary-btn{
    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
}
/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
}
.band-name{
   font-weight: 700;
   font-size: 3rem;
}
.navbar, .banner {
    max-width: 1120px;
    margin: 0 auto;
}

/* banner related style starts here  */

.banner-content{
max-width: 820px;
margin: 0 auto;
text-align: center;
margin-bottom: 50px;
} 
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-img{
    width: 100%;
}